.Banner {
  width: 100%; /* width of container */
  height: 45vh; /* height of container */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Banner img {
  margin: -100px 0px 0px -10px;
}
.Banner-Text{
padding: 10%;
}