.Banner {
  width: 100%;
  height: 45vh;
  overflow: hidden;
  
}
.Banner img {
  margin: -100px 0px 0px -10px;
  
}
.Banner-Text {
  padding: 10%;
}
@media screen and (max-width: 480px) {
  .Banner img {
    margin: -111px -255px 0px -260px;
    padding: 50px;
  text-align: center;
}
}