.Banner {
  width: 100%; /* width of container */
  height: 400px; /* height of container */
  overflow: hidden;
  border: 5px solid black;
  background-color: black;
  background-image: url("../../images/Banner1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Banner img {
  margin: -100px 0px 0px -10px;
}
